/* Root Colors */
:root {
  --primary-color: #0077cc; /* Improved contrast - Deep Blue */
  --secondary-color: #ffffff; /* White for better readability */
  --text-color: #333333; /* Dark Gray for better contrast */
  --background-color: #f4f4f4; /* Light Gray for subtle background */
  --accent-color: #ff0000; /* Bright accent for highlights */
}

/* General Styles */
body {
  font-family: 'Roboto', 'Montserrat';
  color: var(--text-color);
  margin: 0 auto;
  width: 1000px;
  
}

/* Header Styles */
header {
  display: grid; 
  grid-template-columns: 120px auto;
  align-items: center;
  border-bottom: 1px solid #ccc;
  max-width: 1000px;
  margin: auto;
  padding: var(--padding);
  background: var(--primary-color);
  color: var(--secondary-color);


}

header img {
  width: 150px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

/* Deals with link text*/
nav a {
  text-decoration: none;
  color: var(--secondary-color);
  padding: var(--padding);
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

nav a:hover {
  background: var(--accent-color);
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.contact div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;

}

.contact iframe{
  border: 0;
}