:root {
  --primary-color: #48BEFF;
  --secondary-color: #14453D;
  --accent1-color: #43C59E;
  --accent2-color: #3D7068;
  --heading-font: "Roboto";
  --body-font: "Montserrat";
}

header {
  background-color: var(--primary-color);
  color: var(--accent2-color);

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: end;
  width: 100px;
  margin: auto;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}


h1,
h2 {
  font-family: var(--heading-font);
  color: var(--accent1-color);
}

h1 {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 6;
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

nav {
  justify-self: end;
}

.socialmedia a {
  text-decoration: none;

}

.title {
  position: relative;

}

.title img {
  display: block;
  width: 100%;
  height: auto;
}

.title h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--accent1-color);
  color: var(--accent2-color);

}

h1 {
  width: auto;
  padding: 0px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
  /* white text - make sure there is enough contrast with the background-color */
}

/*=======Title=========*/
.title article img {
  display: flex;

}

.title article {
  position: absolute;
  top: 100px;
  background-color: var(--secondary-color);
  opacity: 0.7;
}

/*========== Hero ============*/
.hero {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-template-rows: auto 2fr;

}

.hero h2 {
  display: flex;
  justify-content: center;

}

.hero p {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.hero img {
  display: flex;
  justify-content: center;
  width: 100px;
}

/*=============== Adventure ==================*/
.journy div h3 {
  text-align: center;
}

.journy div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.journy div img {
  width: 100px;
  height: auto;
}

/*==================Footer==============================*/
.socialmedia {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.socialmedia img {
  width: 40px;
}