nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    display: height;
    border: 1px solid balck;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

header, footer {
max-width: 840px;
margin: 0 auto;
}

nav{
background-color: steelblue;
padding: 1rem;
display: flex;
justify-content: spce-evenly;
align-items: center;
}

nav a { 
    display: block;
    padding: .5rem;
    font-size: 700;
    font-weight: 700;
    color: #fff;    /* shorthand for white */
}